.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.link{
  text-decoration: none;
  color: inherit;
}
.link:hover{
  color: #282c34;
  font-size: 20px;
  transition: all 0.2s ;
}
.css-jgls56-MuiButtonBase-root-MuiPickersDay-root.Mui-selected{
    background: #45B39D !important;
  }
  .css-1u23akw-MuiButtonBase-root-MuiPickersDay-root.Mui-selected{
  background: #45B39D !important;
}

.css-1t0788u-MuiPickersSlideTransition-root-MuiDayCalendar-slideTransition{
  min-height: 195px !important;
}
.css-nk89i7-MuiPickersCalendarHeader-root{
  margin-top: 8px !important;
}
